In [1]:
from datetime import datetime

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import pandasql as psql

In [2]:
####
#Link to Mermaid ERD (also in Readme)
#https://mermaid-js.github.io/mermaid-live-editor/view/#eyJjb2RlIjoiZXJEaWFncmFtXG4gICAgQ1VTVE9NRVJfREFUQSB8fC0tfHwgQ1VTVE9NRVJfREFJTFlfUk9MTFVQIDogXCJcIlxuICAgIENVU1RPTUVSX0RBVEEgfHwtLW97IENVU1RPTUVSX1JFVEVOVElPTiA6IFwiXCJcbiAgICBDVVNUT01FUl9EQVRBIHx8LS18eyBPUkRFUl9EQVRBIDogXCJcIlxuICAgIENVU1RPTUVSX0RBVEEgfXwtLXx7IFNVQlNDUklQVElPTl9FVkVOVFMgOiBcIlwiXG4gICAgT1JERVJfREFUQSB8fC0tb3sgQ1VTVE9NRVJfUkVURU5USU9OIDogXCJcIlxuICAgIE9SREVSX0RBVEEgfHwtLXx7IE9SREVSX0xJTkVfREFUQSA6IFwiXCJcbiAgICBPUkRFUl9MSU5FX0RBVEEgfXwtLXx8IFBST0RVQ1RfREFUQSA6IFwiXCJcbiAgICBDVVNUT01FUl9EQUlMWV9ST0xMVVAge1xuICAgICAgICBwcmltYXJ5X2tleSBjdXN0b21lcl9pZFxuICAgICAgICB0aW1lc3RhbXAgcmVnaXN0cmF0aW9uX2RhdGUgXG4gICAgICAgIHRpbWVzdGFtcCBkYXRhX3N1YnNjcmliZWRcbiAgICAgICAgaW50IGlzX3N1YnNjcmliZWRcbiAgICB9XG4gICAgQ1VTVE9NRVJfUkVURU5USU9OIHtcbiAgICAgICAgZm9yZWlnbl9rZXkgY3VzdG9tZXJfaWRcbiAgICAgICAgZm9yZWlnbl9rZXkgb3JkZXJfaWQgXG4gICAgICAgIHRpbWVzdGFtcCByZWdpc3RyYXRpb25fZGF0ZVxuICAgICAgICBpbnQgcmVnaXN0cmF0aW9uX3llYXJcbiAgICAgICAgaW50IG9yZGVyX3BsYWNlZF9tb250aFxuICAgICAgICBpbnQgb3JkZXJfcGxhY2VkX2RheVxuICAgICAgICBpbnQgb3JkZXJfcGxhY2VkX3llYXJcbiAgICAgICAgaW50IG9yZGVyX3BsYWNlZF9tb250aFxuICAgICAgICBpbnQgb3JkZXJfcGxhY2VkX2RheVxuICAgIH1cbiAgICBDVVNUT01FUl9EQVRBIHtcbiAgICAgICAgcHJpbWFyeV9rZXkgaWRcbiAgICAgICAgc3RyaW5nIG5hbWVcbiAgICAgICAgc3RyaW5nIGdlbmRlclxuICAgICAgICBzdHJpbmcgZW1haWxcbiAgICAgICAgc3RyaW5nIHN0YXRlXG4gICAgICAgIHN0cmluZyBjb3VudHJ5XG4gICAgICAgIHRpbWVzdGFtcCBjcmVhdGVkX2F0XG4gICAgfVxuICAgIE9SREVSX0RBVEEge1xuICAgICAgICBwcmltYXJ5X2tleSBpZFxuICAgICAgICBmb3JlaWduX2tleSBjdXN0b21lcl9pZFxuICAgICAgICBzdHJpbmcgY3VycmVuY3lcbiAgICAgICAgZmxvYXQgdG90YWxfcHJpY2VcbiAgICAgICAgdGltZXN0YW1wIGNyZWF0ZWRfYXRcbiAgICAgICAgdGltZXN0YW1wIHJlZnVuZGVkX2F0XG4gICAgfVxuICAgIE9SREVSX0xJTkVfREFUQSB7XG4gICAgICAgIHByaW1hcnlfa2V5IGlkXG4gICAgICAgIGZvcmVpZ25fa2V5IG9yZGVyX2lkXG4gICAgICAgIGZvcmVpZ25fa2V5IHByb2R1Y3RfaWRcbiAgICAgICAgaW50IHF1YW50aXR5XG4gICAgICAgIGZsb2F0IHRvdGFsX3ByaWNlXG4gICAgfVxuICAgIFBST0RVQ1RfREFUQSB7XG4gICAgICAgIHByaW1hcnlfa2V5IGlkXG4gICAgICAgIHN0cmluZyB0aXRsZVxuICAgICAgICBzdHJpbmcgY2F0ZWdvcnlcbiAgICAgICAgZmxvYXQgcHJpY2VcbiAgICAgICAgZmxvYXQgY29zdFxuICAgICAgICBpbnQgdmVuZG9yXG4gICAgICAgIHRpbWVzdGFtcCBjcmVhdGVkX2F0XG4gICAgfVxuICAgIFNVQlNDUklQVElPTl9FVkVOVFMge1xuICAgICAgICBwcmltYXJ5X2tleSBpZFxuICAgICAgICBmb3JlaWduX2tleSBjdXN0b21lcl9pZCBcbiAgICAgICAgZXZlbnRfdHlwZSBzdHJpbmdcbiAgICAgICAgY3JlYXRlZF9hdCB0aW1lc3RhbXBcbiAgICB9XG4gICAgIiwibWVybWFpZCI6IntcbiAgXCJ0aGVtZVwiOiBcImRlZmF1bHRcIlxufSIsInVwZGF0ZUVkaXRvciI6dHJ1ZSwiYXV0b1N5bmMiOnRydWUsInVwZGF0ZURpYWdyYW0iOnRydWV9
####

In [5]:
#Setup

##Download data into dataframes
sheet_id = "1TDJdzeS7VdiR4ZsmvGSV9QtgsUY6Rv5oQlmyw59Bftw"
sheet_names = ["customer_data", "order_data", "order_line_data", "product_data"]
tables = {}

url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet="


for sheet_name in sheet_names:
    tables[sheet_name] = pd.read_csv(url+sheet_name)
    
##Standardize all date columns to date time object since I noticed inconsistent dates
tables['customer_data']['created_at'] = pd.to_datetime(tables['order_data']['created_at'])
tables['order_data']['created_at'] = pd.to_datetime(tables['order_data']['created_at'])
tables['order_data']['refunded_at'] = pd.to_datetime(tables['order_data']['refunded_at'])
tables['product_data']['created_at'] = pd.to_datetime(tables['product_data']['created_at'])

##Extract from dictionary into individual variables for querying
customer_data, order_data, order_line_data, product_data = [tables.get(t) for t in sheet_names]

In [6]:
###########
#Question 1:
###########


##All pretty simple queries, so didn't change the data model

##Gross Merchandise Value
####Total price of all non refunded orders
psql.sqldf("""
select sum(total_price)
from order_data
where refunded_at is NULL
""")

##Average Order Value
####Total Price / number of orders, will include refunded orders
psql.sqldf("""
select sum(total_price) / count(*)
from order_data
--where refunded_at is NULL
""")

##Average Basket Size
####Interpreting this as average quantity per order
psql.sqldf("""
select avg(order_quantity)
from
(
select order_id, sum(quantity) order_quantity
from order_line_data
group by 1
)
""")

##Monthly Active Customers
####For each month, the number of customers who made a purchase
psql.sqldf("""
select strftime("%m-%Y", created_at) as 'month-year' , count(*)
from order_data
group by 1
""")

  month-year  count(*)
0    01-2021         3
1    02-2021         4
2    03-2021         7

In [7]:
###########
#Question 2:
###########


###NOTES###

##Customer retention rate would probably be easier to calculate if we had a customer_retention table
##Keep granularity at the user-order level so we can join to various dimensions
##Split date parts out so we could do accurate and scalable month retention (not all months have 30 days, etc)
##Most analytical data warehouses have datediff which would make our lives easier

##Do NOT bring dimensions into customer_retention table since dimensions will likely scale
##and don't want to edit this table every time we have a new dimension
##Tradeoff is we will constantly be joining back to primary tables, which could result in slower queries


customer_retention = psql.sqldf("""
select c.id customer_id, 
o.id order_id, 
c.created_at registration_date, 
o.created_at order_placed_date,
first_order_id,
CAST(strftime('%Y', c.created_at) as INT) registration_year, 
CAST(strftime('%m', c.created_at) as INT) registration_month, 
CAST(strftime('%d', c.created_at) as INT) registration_day, 

CAST(strftime('%Y', o.created_at) as INT) order_placed_year, 
CAST(strftime('%m', o.created_at) as INT) order_placed_month, 
CAST(strftime('%d', o.created_at) as INT) order_placed_day
from customer_data c
left join order_data o on c.id = o.customer_id
join (
select customer_id, 
first_value(id) over (partition by customer_id order by created_at) first_order_id
from order_data
group by 1
) first_order on c.id = first_order.customer_id
""")

In [8]:
#Basic Customer Retention table
psql.sqldf("""
select 
strftime('%Y %m', registration_date) reg_cohort_month,
(order_placed_year - registration_year) * 12 + (order_placed_month - registration_month) month,
count(distinct(customer_id)) num_customers
FROM customer_retention
group by 1,2
""")

#Customer Retention split by dimensions (eg gender)
psql.sqldf("""
select gender,
strftime('%Y %m', registration_date) reg_cohort_month,
(order_placed_year - registration_year) * 12 + (order_placed_month - registration_month) month,
count(distinct(customer_id)) num_customers
FROM customer_retention cr
join customer_data cd on cr.customer_id = cd.id
group by 1,2,3
""")

#Customer Retention split by first order attributes (eg product category)
psql.sqldf("""
select 
pd.category,
strftime('%Y %m', registration_date) reg_cohort_month,
(order_placed_year - registration_year) * 12 + (order_placed_month - registration_month) month,
count(distinct(customer_id)) num_customers
FROM customer_retention cr
left join order_line_data old on cr.first_order_id = old.order_id
join product_data pd on pd.id = old.product_id
group by 1,2,3
""")

    category reg_cohort_month  month  num_customers
0          1          2021 01      0              1
1          1          2021 01      1              1
2          1          2021 01      2              1
3          1          2021 02      0              3
4          1          2021 02      1              2
5          1          2021 03      0              3
6          2          2021 01      0              1
7          2          2021 02      1              1
8          2          2021 03      0              1
9          3          2021 01      0              2
10         3          2021 02      0              1
11         4          2021 03      0              1

In [9]:
###Customer Lifetime Value
###Different definitions for CLV but usually average total value of a customer (sometimes timeboxed)
###The order_data table has all the necessary information
###Will ignore refunded_at, but could easily filter out if we wanted to

psql.sqldf("""
select avg(customer_total_value)
from
(
select customer_id, sum(total_price) customer_total_value
from order_data
group by 1
)
""")

##If we wanted a timebox version of this (eg CLV for 1 month period) we would filter to only customers who registered in January
##1 Month CLV (average amount we expect a customer to bring in in their 1st month after registering)
##We could recycle our customer_retention table since it has all the necessary attributes
psql.sqldf("""
select avg(customer_value_month1)
from
(
select cr.customer_id, sum(total_price) customer_value_month1
from customer_retention cr
join order_data od on od.id = cr.order_id
where registration_year = order_placed_year
and registration_month = order_placed_month
group by 1
)
""")

   avg(customer_value_month1)
0                   97.494444

In [11]:
###Question 3
##If we were going to include a subscription component, these are the things I would prioritize:
##A denormalized subscription event table, with a primary key of sub_id, foreign key on customer_id, event_type (upgrade/downgrade/etc, could also be a foreign key to an event_types table) and a timestamp
##This will likely mirror what the production db tables have, so it should be a simple sync to the data warehouse

##The above information gives me the pieces necessary to craft and downstream tables to make analyses easier
##I would probably make a rollup table that shows the CURRENT metadata for a customer on each day
##The base case would be an ETL with a rollup table that would be overwritten each night with the current customer data
##However, ideally we would detect change events and update the rows that have a change in them

##Example:

subscription_events_data = {'subscription_id': [1, 2, 3, 4, 5], 
                         'customer_id': [1,2,3,3,4], 
                         'event_type': ['upgrade','upgrade','upgrade','downgrade','upgrade',],
                         'created_at': ['2021-01-01 04:34:22', '2021-01-01 04:34:22', '2021-01-15 04:34:22', '2021-02-01 04:34:22', '2021-02-02 04:34:22']
                        }
subscription_events = pd.DataFrame(data=subscription_events_data)

customer_daily_rollup_data = {'customer_id': [1, 2, 3, 4, 5], 
                         'registration_date': ['2021-01-01', '2021-01-01', '2021-01-15', '2021-02-01', '2021-02-02'], 
                         'date_subscribed': ['2021-01-01', '2021-01-02', '2021-01-30', None, '2021-02-05'],
                         'is_subscribed': [1, 1, 1, 0, 1]
                        }
customer_daily_rollup = pd.DataFrame(data=customer_daily_rollup_data)